body{
    background-color: #CADCFC;
}

h1, p{
    color:  #00246B;
}

.notavailable{
    color: red;
}

.available{
    color: green;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.item1{
    position: relative;
    size: relative;
    width: 20%;
    height: 20%;
    object-fit: cover;
    padding: 20px;
    border-radius: 60px;
}

.name{
    text-align: center;
    margin-top: 6rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.desc{
    text-align: center;
    margin-top: 0.50rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.yes{
    position: absolute;
    top: 200px;
    width: 100%;
    height: 5%;
    object-fit: cover;
    z-index: -1;
}

.item{
    position: relative;
    width: 22.5%;
    height: 22.5%;
    object-fit: cover;
    padding: 20px;
    border-radius: 60px;
}

.stamp1{
    position: absolute;
    left: 150px;
    top: 310px;
    height: 20%;

    
}

.stamp01{
    position: absolute;
    left:170px;
    top:500px;
    font-size: 50px;
}


.stamp2{
    position: absolute;
    left: 625px;
    top: 310px;
    height: 20%;
}

.stamp02{
    position: absolute;
    left:645px;
    top:500px;
    font-size: 50px;
}

.stamp3{
    position: absolute;
    left: 1100px;
    top: 310px;
    height: 20%;
}

.stamp03{
    position: absolute;
    left:1075px;
    top:500px;
    font-size: 50px;
}

.stamp4{
    position: absolute;
    left: 1565px;
    top: 310px;
    height: 20%;
}

.stamp04{
    position: absolute;
    left:1545px;
    top:500px;
    font-size: 50px;
}